body {
  background-image: url("./carretera.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgb(134, 134, 134);
}
#carro {
  position: absolute;
  top: 52%;
}

html,
body {
  margin: 0;
  padding: 0;
}

svg {
  display: inline;
  margin: 0;
  padding: 0;
}
/* #carro {
  position: relative;
}

html,
body,
svg {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0;
  padding: 0;
} */
