
body {
    background-image: url('./carretera.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#carro{
    position: absolute;
    top: 52%;
    
}

html,body{
    margin:0;
    padding: 0;
}

svg{
    display: inline;
    margin:0;
    padding: 0;
}